@model int

<td style="width:150px">
    <div class="btn-group" role="group">
        <a class="btn btn-primary btn-sm text-white" asp-action="Edit" asp-route-id="@Model">
            Edit
        </a>

        <a class="btn btn-success btn-sm text-white" asp-action="Details" asp-route-id="@Model">
            Details

        </a>

        <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@Model">
            Delete

        </a>
    </div>
</td>
@*<button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure that you want to delete')" class="btn btn-danger btn-sm">Delete</button>*@
